.playground-container {
  background-color: var(--foreground);

  padding: 40px 42px;
  /* width: 70vw;  */
  border-radius: 18px;
}

.movie-list-title {
  margin-left: 5px;
  margin-top: 1em;
}

.playground-image {
  box-shadow: 0px 1px 8px -4px rgba(0, 0, 0, 0.75);
}

.playground-background {
  margin: 30px 30px 25px 320px;
  width: 100%;
}
