.top-info-container {
  background-color: var(--bubble);
  margin-left: 20px;
  padding: 20px;
  padding-top: 40px;
  border-radius: 18px;
  width: 100%;
}

.top-info-text-container {
  justify-content: center;
  gap: 50px;
}
