.how-to-bubble {
  position: relative;
  background-color: var(--foreground);
  border-radius: 18px;
  padding: 3rem;
  margin: 0 5vw 15px 5vw;
}

.how-to-bubble > h1 {
  margin-top: 0;
}

.centered {
  text-align: center;
}
